* { /*setting the global parameters*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  background: rgb(253, 216, 223);
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px;
  width: 100%;
}

h1 {
  text-transform: uppercase; /*displays the title in uppercase letters*/
}

.game-board{
  position: absolute;
  left: 50%; /*sets place on screen*/
  transform: translate(-50%);
  width: 500px; /*sets the width of the black box*/
  height: 440px; /*sets the height of the black box*/
  top: 10rem; 
  background: black; /*sets the colour of the background box*/
}

.game-board table tr td{ /*creates the white circles in the board*/
  width: 80px; /*sets the width of the white box*/
  height: 70px; /*sets the height of the white box*/
  border: 2px solid black; /*border allows for the circles to be made for the slots*/
  border-radius: 60%; /*sets how circular the slots are*/
  background-color: white; /*sets the colour of the slots to white to easily distinguish the slots*/
  cursor: pointer; /*displays the cursor over the slot to the user allowing better useability*/
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.reset {
  background-color: black;
  border-radius: 30px;
  color: white; /*font colour of button*/
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: .5s;
}

.reset:active {
  background-color: white; /*reset button will flash white when clicked*/
}

/* The Modal (background) */
.modal {
  position: fixed; 
  z-index: 1;
  top: 0; 
  width: 100%; 
  height: 100%; 
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #ade9ad;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #ade9ad;
  color: white;
}

/* Modal Content */
.modal-content {
  position: middle;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 4px solid black;
  width: 40%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}